databases:
  - name: livecode-postgres
    databaseName: livecode_platform
    plan: free
    region: oregon

services:
  - type: redis
    name: livecode-redis
    plan: free
    region: oregon
    maxmemoryPolicy: noeviction
    ipAllowList: []

  - type: web
    name: livecode-api
    env: docker
    plan: free
    region: oregon
    dockerfilePath: ./dockerfile
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: livecode-postgres
          property: connectionString
      - key: REDIS_URL
        fromService:
          name: livecode-redis
          type: redis
          property: connectionString
      - key: CELERY_BROKER_URL
        fromService:
          name: livecode-redis
          type: redis
          property: connectionString
      - key: CELERY_RESULT_BACKEND
        fromService:
          name: livecode-redis
          type: redis
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
    healthCheckPath: /health
